:root {
    --primary-blue: #2d9bdf;
    --text-dark: #f3f4f8;
    --text-light: #eceef5;
    --bg-main: #e4e7ec;
    --white: #ffffff;
    --radius-lg: 20px;
    --radius-md: 12px;
    --transition: 0.3s ease;
}
